body {
    background-color: black;
    text-align: center;
    color: #F1B230;
    font-family: helvetica;
  }
  
  h1 {
    font-family: helvetica;
    font-size: 40px;
    color: #F78C2E;
  }
  
  h3 {
    color: #626268;
    font-family: helvetica;
  }
  
  button {
    background-color: #F78C2E;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
  
  }
  
  img {
    padding: 25px;
    height: 125px;
    width: 225px;
  }
  
  p.form-animation {
    color: white;
  }